/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/uploads
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
composer.lock
.vscode/settings.json
composer.lock
laravel-echo-server.json
*.lock
composer.lock

.env
.env
